
@if(Request.IsAuthenticated && User.IsInRole("Admin"))

{
<li class="dropdown" data-admin-menu>
<a href="#">
    Admin
    <span class="glyphicon glyphicon-chevron-down"></span>
</a>
    <ul class="dropdown-menu" role="menu">
      <li class="dropdown-header">Add Employee</li>
      <li class="divider"/>
      <li><a href="/Admin/Employee">&nbsp;&nbsp;Employee</a></li>
    </ul>
</li>
}