@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<h3 class="headAbt">We are long-term investors in Africa’s most strategic sectors</h3>
<div>
   <span>
    Our investment portfolio spans the power, oil and gas, financial services, 
    hospitality, real estate and healthcare sectors, operating in twenty-three countries worldwide.
    </span> 
    
    <span>We are inspired by Africapitalism, the belief of our Chairman, Tony O. Elumelu, CON that the private sector is the key enabler of economic and social wealth creation in Africa.</span>

   <span>Driven by this philosophy, we invest for the long-term, bringing strategic capital, sector expertise, a track record of business turnaround success and operational excellence to companies we invest in.</span> 

    <span>Our philanthropic Foundation catalyses entrepreneurship across Africa, through the USD $100million Tony Elumelu Foundation Entrepreneurship Programme, advocacy and research.</span>

</div>
