@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <h4>Get in Touch</h4>
   <span> Heirs Place, 1 MacGregor Road, Ikoyi, Lagos - Nigeria.</span> 
    <p>+234-1-2774641-5</p>
    
</address>

<address>
    <strong>Enquiry:</strong>   <a href="info@heirsholdings.com">Send us a Mail</a><br />
</address>